/* style.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
}
body {
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10px;
}

.control-panel {
  border: 2px dashed #0080ff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.control-panel h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 1.5em;
  color: #0073e6;
}

.content {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

label {
  flex: 1;
  font-size: 1em;
  margin-right: 10px;
  white-space: nowrap;
}

input[type="range"] {
  flex: 2;
}

input[type="color"] {
  width: 40px;
  height: 30px;
  border: none;
  cursor: pointer;
}

span {
  margin-left: 10px;
  font-size: 0.9em;
  color: #666;
}

button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.preview-conteiner {
  border: 2px dashed #0080ff;
  height: 600px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.preview {
  width: 300px;
  height: 300px;
  background-color: #14b244;
  border: 10px solid #0080ff;
  border-radius: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

/*  */

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  gap: 5px;
}

.buttons .reset {
  background-color: #0073e6;
  color: white;
  width: 88%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.change-theme {
  background-color: black;
  color: white;
  font-size: 0.9rem;
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

input[type="range"] {
  appearance: none;
  background-color: #0080ff;
  height: 5px;
  border-radius: 100px;
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  background-color: #005bb5;
  border-radius: 100%;
  width: 15px;
  height: 15px;
}
